{% for domain in sites %}
http://{{ ansible_host }}:{{ domain.port }} {
    root * {{ web_path }}/{{ domain.name }}/public

    # Enable the static file server.
    file_server
    route /js/script.js {
        reverse_proxy https://cloud.umami.is {
        header Cache-Control "public, max-age=3600"
    }
    # Enable logging
    log {
        output file /var/log/caddy/access-{{ domain.name }}.log
    }
}
{% endfor %}