{% for domain in sites %}
:{{ domain.port }} {
    root * {{ web_path }}/{{ domain.name }}/public

    # Enable the static file server.
    file_server
    
    # Enable logging
    log {
        output file /var/log/caddy/access-{{ domain.name }}.log
    }
}
{% endfor %}